# Node
node_modules/
dist/
build/
.env
.env.*

# React Native
.expo/
*.log
*.lock

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Solidity/Hardhat
artifacts/
cache/
coverage/
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Misc
.idea/
.vscode/
*.swp
